<nav class="teal lighten-2">
    <div class="nav-wrapper nav-container">
        <div class="info">
            <ul id="nav-mobile" class="hide-on-med-and-down">
                <li><a href="#">Create restaurant</a></li>
                <li><a href="../user/logout">Logout</a></li>
            </ul>
        </div>
        <div class="search">
            <form>
                <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
                </div>
            </form>
        </div>
        
    </div>
</nav>
